name: Prettier Format Check

on:
  workflow_call:
    inputs:
      prettier-version:
        required: false
        type: string
        default: "latest"
      check-path:
        required: false
        type: string
        default: "."

jobs:
  format:
    name: Prettier Format Check
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout Source
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: latest

      - name: Check Formatting
        run: npx prettier@${{ inputs.prettier-version }} --check ${{ inputs.check-path }}
